
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  margin: 0;
   padding: 0;
	line-height: 1;
	background: #eee !important;	
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
  --primary-color: #351c75;
  --dark-color: #674ea7;
  --light-color: #ececec;
  --danger-color: red;
  --success-color: rgb(135, 241, 155);

}

#main {
	background-color: var(--light-color)
}

.container {
	margin-top: 80px;
  margin-bottom: 80px;
	display: flex;
	justify-content: center;

}
.imageLocation {


	width: 454px;
	height: 618px;
}
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
	position: absolute;
	margin-top: 100px;
	left: 50%;
	// margin: auto;
  transform: translate(-50%, -50%);
}
.nav-search-input{
  box-sizing: border-box;
  height: 28px;
  display: flex;
  text-align: center;
  width: 245px;
  height: 33px;
  padding: 20px 10px 3px auto;
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  color: #262626;
  outline: 0;
  z-index: 2;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
}
.nav-search{
  width: 900px;
  display: flex;
  justify-content: center;
}
.nav-search-input:placeholder-shown {
  font-size: 16px;
}
.nav-search input:focus{
  background: #fff;
}
.nav-search ul{
  margin: 0;
  z-index: 18;
  margin-top: 42px;
  // margin-left: -135px;
  position:absolute;
  background: #fff;
  border-radius: 3px;
  max-height: 362px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,.0975);
}

.nav-search a:link{
    text-decoration: none;
    color: none;
    cursor: pointer;
}

.nav-search li:hover{
    background: #fafafa;
    cursor: pointer;
}

.nav-search li{
    padding: 8px 14px 8px 14px;
    border-color: #efefef;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    overflow-x: hidden;

}

.nav-search-item{
    display: flex; 
}

.search-info{
    display: flex;
    flex-direction: column;
}

.search-photo{
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.search-photo img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.search-fullname{
    font-weight: 300;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999 !important;
}

.search-username{
  min-width: 200px;
    font-weight: 600;
    color: #262626;
}
@media (max-width: 700px) {
	.container {
    margin-top: rem;
	}
	.imageLocation {
		display: none;
	}

	
}
